# Environments
venv/
env/
.venv/
backend/.venv/
backend/venv/
frontend/.venv/
frontend/venv/
backend/.env

# Database
*.sqlite3
*.db
FinStream.db

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# OS files
.DS_Store

# AWS SAM build directory
.aws-sam/
node_modules/
